extends base.pug
block content 
    if (isAdmin)
    else if (isUser)
        h2= message
    //- Section for adding a new book 
    section.container.my-4
        if(isAdmin)
            form#myForm.row.needs-validation.container.my-2(action="/books", method="post",novalidate)
                .col-md-3
                    label.form-label(for='bookName') Book Name
                    input#bookName.form-control(type='text', name="bookName", aria-describedby='emailHelp' , required)
                .col-md-3
                    label.form-label(for='bookAuther') Auther
                    input#bookAuther.form-control(type='text', name="bookAuther" , required)
                .col-md-3
                    label.form-label(for='language') Language
                    input#language.form-control(type='text', name="language" , required)
                .d-flex.col-md-3.text-center.justify-content-center.align-items-center
                    button#addBook.btn.btn-primary(type='submit',style="margin-top: 32px;") Add Book
            hr(style="width: 97%; margin: 10px auto;")
        //- Table to show all the books
        .container.text-center 
            h2 All Books
            table.my-2.table.table-light.table-striped
                thead
                    tr
                        th(scope='col') Book
                        th(scope='col') Auther
                        th(scope='col') Language
                        if(isAdmin)
                            th(scope='col') Actions
                tbody#tBody
                each book in books
                    tr 
                        td=book.bookName
                        td=book.bookAuther
                        td=book.language
                        if(isAdmin)
                            td  
                                a.btn.btn-primary(href="/books/"+book._id) Edit

//- bootstrap and custom scripts
block scripts
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    script(src="../static/js/validation.js") 