extends base.pug
block content 
    div.container.d-flex.justify-content-center.align-items-center.my-5
        if (isAdmin)
            h2 Welcome admin 
        else if (isUser)
            h2= message
        else 
                h1  Welcome to my first backend web.....
