body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signupForm {
  width: 60%;
  padding: 30px;
  background-color: aliceblue;
}
#signupForm h3 {
  margin-bottom: 10px;
}
#signupForm a {
  margin-left: 40px;
}
